body {
  background-color: #333;
  color: #fff;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  width: 90%;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 80px;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
}

header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .inner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner h1 a img {
  height: 72px;
}

header .inner nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4em;
  letter-spacing: 2px;
  font-size: 22px;
}

header .inner nav ul li:last-child {
  margin-right: 0;
}

header .inner nav ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

header .language {
  border: 1px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .quick_menu {
  position: fixed;
  width: 90%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
}

main .quick_menu ul.slide_number {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .quick_menu ul.slide_number > li {
  position: relative;
  margin-bottom: 60px;
}

main .quick_menu ul.slide_number > li:last-child {
  margin-bottom: 0;
}

main .quick_menu ul.slide_number > li:hover::before {
  position: absolute;
  top: 50%;
  left: -90px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: 120px;
  height: 35px;
  background-color: #fff;
  border-radius: 20px;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .quick_menu ul.slide_number > li:nth-child(1):hover::before {
  content: "Main";
}

main .quick_menu ul.slide_number > li:nth-child(2):hover::before {
  content: "Profile";
}

main .quick_menu ul.slide_number > li:nth-child(3):hover::before {
  content: "Tech Stack";
}

main .quick_menu ul.slide_number > li:nth-child(4):hover::before {
  content: "Project";
}

main .quick_menu ul.slide_number > li:nth-child(5):hover::before {
  content: "Career";
}

main .quick_menu ul.slide_number > li > a {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

main .quick_menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 5%;
  bottom: 6%;
  background-color: transparent;
  border: 0;
  color: #fff;
  -webkit-animation-name: moving;
          animation-name: moving;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

main .quick_menu button p {
  font-size: 10px;
  position: absolute;
  top: -20px;
}

main .quick_menu button img {
  width: 50px;
}

@-webkit-keyframes moving {
  0% {
    bottom: 6%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 6%;
  }
}

@keyframes moving {
  0% {
    bottom: 6%;
  }
  50% {
    bottom: 7%;
  }
  100% {
    bottom: 6%;
  }
}

main section {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.main_view {
  position: relative;
}

main section.main_view .quick_menu_banner {
  position: absolute;
  width: 90%;
  bottom: 40px;
  z-index: 30;
}

main section.main_view .quick_menu_banner ul.banner_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.main_view .quick_menu_banner ul.banner_number > li {
  width: 58px;
  height: 7px;
  margin-right: 9px;
  background-color: #fff;
  opacity: 0.3;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
  cursor: pointer;
}

main section.main_view .quick_menu_banner ul.banner_number > li:first-child {
  opacity: 1;
}

main section.main_view article {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.main_view article .main_title {
  width: 90%;
}

main section.main_view article .main_title h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

main section.main_view article .main_title p {
  margin: 30px 0;
}

main section.main_view article .main_title > button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 20px 0;
  text-transform: uppercase;
}

main section.main_view article .main_title > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: orange;
}

main section.main_view article:nth-child(2) {
  visibility: visible;
  background-image: url(../img/1.main/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.main_view article:nth-child(3) {
  visibility: hidden;
  background-image: url(../img/1.main/02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.main_view article:nth-child(4) {
  visibility: hidden;
  background-image: url(../img/1.main/03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.main_view article:nth-child(5) {
  visibility: hidden;
  background-image: url(../img/1.main/04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.profile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/2.profile/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.profile h3 {
  letter-spacing: 10px;
  font-size: 5rem;
  font-weight: 600;
  margin: 6rem;
  text-shadow: 2px 2px 5px #000;
}

main section.profile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

main section.profile ul li {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  width: calc(80% / 3);
  height: 140px;
  margin: 10px;
  background-color: rgba(64, 178, 206, 0.3);
  -webkit-box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.6);
}

main section.profile ul li .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 100%;
}

main section.profile ul li .icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

main section.profile ul li > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

main section.profile ul li > div h5 {
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 1.4;
  text-shadow: 0px 0px 4px #000;
}

main section.profile ul li > div p {
  letter-spacing: 1px;
  font-size: 25px;
  line-height: 1.2;
  text-shadow: 0px 0px 4px #000;
}

main section.profile ul li > div p > span {
  font-size: 20px;
}

main section.project .contents {
  width: 70%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.3);
}

main section.project .contents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(255, 0, 230, 0.1);
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.project .contents ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 200px;
  margin: 10px;
  background-color: rgba(222, 225, 30, 0.4);
}

main section.project .contents ul li > div img {
  width: 300px;
  height: 120px;
}

main section.project .contents ul li > div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 4;
}

main section.project .search_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section.project .search_window .filter_window {
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 60px;
  border-radius: 5px;
  margin: 10px 0;
}

main section.career {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/5.career/careerBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section.career h3 {
  font-size: 6rem;
  margin-bottom: 6rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
}

main section.career ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.career ul li {
  width: 350px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section.career ul li h5 {
  position: relative;
  font-size: 3rem;
  margin-bottom: 30px;
}

main section.career ul li h5::after {
  position: absolute;
  left: 0;
  bottom: -20px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

main section.career ul li p {
  font-size: 20px;
}

.onClick {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #156;
  border-radius: 50%;
  cursor: pointer;
}

.onClick::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */